* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(70, 70, 70);
  overflow: hidden;
  color: #fff;
}

.section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  margin-bottom: 1rem;

}

.container {
  height: 330px;
  width: 330px;
  background-color: red;
  border-radius: 12px;
  padding: 1rem;

}

textarea {
  width: 100%;
  border-radius: 12px;
  padding: .5rem;
  height: 70%;
  margin-bottom: .3rem;
  resize: none;
  border: none;
  outline: none;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.btn-container select {
  width: 200px;
  height: 24px;
  border: none;
  border-radius: 12px;
}

.btn-container div{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.btn-container div button {
  height: 24px;
  width: 60px;
  border-radius: 9px;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  background-color: green;
  color: #fff;
  cursor: pointer;
  margin: .2rem;
}







.glass {
  background: linear-gradient(135deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 100%);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  padding: .6rem;
}